main.c
keep-studying

c file/
dlib-19.22/

keep_studying.db

clear_matrix.py
opencv-test.py
print_dot.py
dlib-test.py

*.jpg
*.png

picture1.jpg

keep_studying

sleep/

green_head.png

 __pycache__/

*.pyc
*.dat
 
  